.contact_div {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-evenly;
}

.input-info {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (max-width: 900px) {
  .contact_div {
    flex-direction: column;
  }
}

@media (max-width: 445px) {
  .qrPar {
    width: 200px !important;
    img {
      width: 150px;
      margin: unset;
    }
    .card-body {
      padding: 10px 12px;
    }
    .card-title {
      font-size: 14px;
      line-height: 15px;
    }
  }
  .h1 {
    font-size: 15px !important;
    padding-top: 0 !important;
  }
  .pt-3 {
    padding: 0 !important;
  }
  .form-container {
    background: none;
  }
}
