
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}


::-webkit-scrollbar-button:hover {
  background: #770000;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #500000;
}





